@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", cursive;
}


:root {
  --darkest-color: #001D3D;
  --dark-color: #023E7D;  
  --violet-color: #9E00FF;
  --white-color:#fff;
  --black-color:#000;

}

.kontakt-container {
    width:100vw;
    height: 100vh;
    background-color: rgb(8, 63, 45);
}

.kontakt-container-top {
    width: 100%;
    height: 70vh;
    background-image: url("../images/building.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
}

.kontakt-container-top-left {
    width: 50%;
    color:var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kontakt-title-container {
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 40px;
    padding-right: 200px;
}

.kontakt-title-container h2 {
    padding-left: 20px;
}

.kontakt-info-container {
    margin-top: 30px;
    background-color:var(--black-color);
    padding: 50px;
    border-radius: 5%
}

.kontakt-info-container h4 {
    margin-bottom: 10px;
}

.kontakt-container-top-right {
    width: 50%;
}


.animated-form h3 {
    color: var(--white-color);
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    
  }
  
  .animated-form .form-group {
    position: relative;
    display: flex;
    margin-bottom: 2rem;
  }
  
  .form-group.flex-end {
    justify-content: flex-end;
  }
  
  .animated-form .form-group label {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    color: var(--dark-color);
    font-size: 1.5rem;
    font-weight: 400;
    transition: 0.4s ease-out;

  }
  
  .animated-form .form-group select {
    width: 60%;
  }
  .animated-form .form-group input {
    display: block;
    width: 60%;
    min-width: 300px;
    padding: 5px 0px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid var(--dark-color); 
    
    font-size: 1rem;
    transition: 0.4s ease-out;
  }


  .animated-form .form-group textarea {
    width: 60%;
   
  }

  .animated-form .form-group:focus-within label,
  .animated-form .form-group.has-content label{
    top: 0px;
    transform: translateY(-90%);
    color: var(--white-color);
    
  }
  
  
  .animated-form .form-group .button {
    display: inline-block;
    width: auto;
    padding: 5px 60px;

    border:  3px solid var(--dark-color);
    border-radius: 999px;
    background-image: linear-gradient(to right, transparent 50%, #023E7D 50%, #8d709e);
    background-size: 200%;  
    color: var(--dark-color);
    font-size: 2rem;
   
    cursor: pointer;
  }
  
 

  input[type=text], select, textarea {
    width: 90%;
    min-width: 300px;
    font-size: 1rem;
    font-weight: 400;
    padding: .3rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid var(--dark-color);

    color: #000;
}

input[type=text]:focus, textarea:focus {
    outline: 3px solid var(--white-color);
    border: none;
}

  .animated-form .form-group .button:hover {
    color: var(--white-color);
    background-position: 100%;
    border: 3px solid var(--white-color);
  }
  
.kontakt-container-bottom {
    width: 100vw;
    height: 30vh;
    background-image: url("../images/map.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}