@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", cursive;
}
:root {
    --darkest-color: #001D3D;
    --dark-color: #023E7D;
    --violet-color: #9E00FF;
    --white-color:#fff;
    --black-color:#000;
  
}



.general-container{
    height: 100%;
    width: 100%; 
    background: linear-gradient(-55deg, #eeec82, #d6a0b5, #4500EE, #ED8118);  
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;  
    
}

.news-wrapper {  
    height: 100%;    
}




.news-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.news-header h1 {
    color:var(--white-color);
    font-size: 2rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 5px;
    text-align: center;
    text-transform:uppercase ;
}

#page-banner{
    background: linear-gradient(-55deg, #eeec82, #d6a0b5, #4500EE, #ED8118);  
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;  
    padding: 10px 0;    
    width: 36%;
    min-width: 1000px;
    height:80px ;
    border-radius: 10px;
}

#page-banner input{
width: 100%;
height: 30px;
max-width: 400px;
align-items: center;
margin:18px auto;
display: block;

border: 1px solid var(--white-color);
border-radius: 4px;
font-size: 16px;
color: var(--black-color);
}

main .sort-options {
    display:flex;
    justify-content: space-between;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: .9rem;
    font-weight: 200;
    width: 80%;
    max-width: 1000px;
    margin: 30px auto;
}

main .sort-options button {
display: flex;
justify-content: space-around;
appearance: none;
background-color: var(--dark-color);
color: var(--white-color);
border:none;
border-radius: 10px;
outline: none;
padding: 10px 8px;
margin: 0px 0px;
font-size: 1rem;
font-weight: 500;
text-transform: uppercase;
cursor: pointer;

width: 20%;
min-width: 200px;
}   

main .sort-options select {
    width: 20%;
    min-width: 200px;  
}


 


main .sort-options button:hover {
    background-color: var(--darkest-color);
    
}
 
main .list {
    display: block;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    
}  

main .list .list-item {
    display:flex;
    justify-content: space-between;
    width: 100%;
    background-color:var(--darkest-color) ;
    color: var(--white-color);
    margin: 15px 0px;
    padding: 15px;
    border: 1px solid var(--black-color);
    border-radius: 10px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

main .list .list-item:hover {

    background-color: var(--dark-color);
    cursor: pointer;
}

.list-item div:nth-child(1)

  {
    flex: 55%  ;
}



.list-item div:nth-child(2),
.list-item div:nth-child(3)
  {
    flex: 18%  ;
}

.list-item div:nth-child(4){
  
    flex-shrink: 0;
}



#filter {
padding:10px;
color: white;
background-color: var(--dark-color);
color: var(--white-color);
border: none;
border-radius: 10px;
outline: none;
padding: 10px 8px;
margin: 0px 0px;
font-size: 1rem;
font-weight: 500;
text-transform: uppercase;
cursor: pointer;
}


#filter:hover {
    background-color: var(--darkest-color);
    
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }