@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');






.startsida-wrapper {
    height: 100vh;
    background-image: url('../images/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.startsida-logo {
    display: flex;
    justify-content: center;
}


.my-logo {
    height: 450px;
    width: 700px;
}


.startsida-text {
    color: #fff;
    font-size: 2rem;
    text-align: center;
}



.startsida-button {
    margin-top: 3rem;
    width: 350px;
    height: 80px;
    left: 529px;
    top: 829px;
    border-radius: 50px;
    background-color: #9E00FF;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
}


.startsida-button:hover {
    background-color: #6a1d9b;
    transition: 1s;
}




@media (max-width: 1600px) {
    .my-logo {
        margin-top: 5rem;
        height: 330px;
        width: 500px;
    }


    .startsida-text {
        font-size: 1.5rem;
    }

    .startsida-button {
        width: 300px;
        height: 60px;
        margin-top: 1rem;
        font-size: 2.3rem;
    }
}