@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", cursive;
}


:root {
  --darkest-color: #001D3D;
  --dark-color: #023E7D;
  --violet-color: #9E00FF;
  --white-color:#fff;
  --black-color:#000;

}

.frogor-wrapper {
  height: 100%;
  width: 100vw;  
  background: linear-gradient(-55deg, #eeec82, #d6a0b5, #4500EE, #ED8118);  
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;  
} 


.frogor-title{
  font-size: 6.25rem;
  line-height: 9.38rem;
  text-align: center;  
  color: #fff;  
}

.frogor-tab {
  position: relative;
  width: 72%;
}

.frogor-tab input { display: none; }

.frogor-tab label {
  display: block;  
  margin-top: 10px;
  padding: 10px;
  color: var(--white-color);  
  background: var(--dark-color);
  cursor: pointer;
  font-size: 1.875rem;
  line-height: 1.875rem;
}

.frogor-tab label:hover {
  background-color: var(--darkest-color);
}

.frogor-tab .frogor-tab-content {
  background: var(--white-color); 
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
  font-size: 1.56rem;
  line-height: 1.56rem;
}

.frogor-tab .frogor-tab-content p { padding: 10px; }


.frogor-tab input:checked ~ .frogor-tab-content { max-height: 100vh; }

.frogor-tab label::after {
  content: "\25b6";
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: all 0.4s;
}

.frogor-tab input:checked ~ label::after { transform: rotate(90deg); }

.frogor-carts{
  display: flex;
  flex-direction:column;
  align-items: center;
  padding-bottom: 3.75rem;  
}

.frogor-img img{
  flex-basis: 33%;
}

.frogor-img {
  display: flex;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}   

/************************Media Q**************************** */


@media (max-width: 768px){
  .frogor-title {
    font-size: 2rem;
    line-height: 3rem;
  }

  .tab label{
    font-size: 1.42rem;
    line-height: 1.42rem;
  }
  .tab .tab-content {
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
}

@media (max-width: 576px){
  .frogor-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .tab label{
    font-size: .9rem;
    line-height: .9rem;
  }
  .tab .tab-content {
    font-size: .725rem;
    line-height: .725rem;
  }
}

