.kontakt-container {
    width: 100%;
    height: 100vh;
    background-color: rgb(8, 63, 45);
}

.kontakt-container-top {
    width: 100%;
    height: 70vh;
    background-image: url("./images/building.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
}

.kontakt-container-top-left {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kontakt-title-container {
    background-image: url("./images/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 40px;
    padding-right: 200px;
}

.kontakt-title-container h2 {
    padding-left: 20px;
}

.kontakt-info-container {
    margin-top: 30px;
    background-color: black;
    padding: 50px;
    border-radius: 5%
}

.kontakt-info-container h4 {
    margin-bottom: 10px;
}

.kontakt-container-top-right {
    width: 50%;
}

#kontakt-form {
    width: 100%;
    /* background-color:red; */
    font-size: 20px;
    font-weight: 800;
    color: black;
    font-size: 20px;
}


#kontakt-form  label {

background-color:black;
color: white;
padding:5px 20px;
border-radius:5%;


}

#kontakt-form input {
    width: 400px;

    margin-bottom: 15px;
    padding: 10px;
}

#kontakt-form #about {
    width: 400px;
    margin-bottom: 15px;
    padding: 10px;
}

#kontakt-form textarea {
    width: 400px;
    margin-bottom: 15px;
    padding: 10px;
}

#submit-button {
    margin-left: 130px;
    background-color: white;
    font-size: 15px;
    /* SEND MESSAGE */
    width: 261px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    text-align: center;
    border-radius: 50px
}

.kontakt-container-bottom {
    width: 100%;
    height: 30vh;
    background-image: url("./images/map.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}