
.omOss-wrapper{
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 1);
    width: 100vw;
    height: 100%;
    background-image: url(room.png); 
    background-size:cover;
    background-repeat: no-repeat;
  
}
.omOss-h2{
    width:70%;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 150px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto;
    }
.omOss-products{
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 28rem;
    justify-items: center;
    align-items: center;
    padding-top: 6rem;
}

.omOss-h3{
   
    font-size: 100px;
    font-style: normal;
    font-weight: 800;
    line-height: 150px;
    letter-spacing: 0em;
    text-align: center;
 
    margin:6rem 0;
    

}
.omOss-employees{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 27rem 27rem 27rem;
    gap: 2rem; 
  
    justify-items: center;
    align-items: center;
    
}
.omOss-card{

    border: 3px solid blue;
    height: 418px;
    width: 334px;
    border-radius: 96px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(2, 62, 125, 1);
    ;


}
.omOss-img{}
.mOss-h5{}
.omOss-p{}
.omOss-h6{}