
.omOss-wrapper{
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 1);
    width: 100vw;
    height: 100%;
    background-image: url(/images/room.png); 
    background-size:cover;
    background-repeat: no-repeat;
    padding-bottom: 3rem;
  
}
.omOss-h2{
    width:70%;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 150px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto;
    }
.omOss-products{
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr; 
   
    justify-items: center;
    align-items: center;
    padding-top: 6rem;
}
.omOss-products-item{
    height: 28rem;
    width: 28rem;
} 

.omOss-h3{
   
    font-size: 100px;
    font-style: normal;
    font-weight: 800;
    line-height: 150px;
    letter-spacing: 0em;
    text-align: center;
 
    margin:6rem 0;
    

}
.omOss-employees{
    width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
.omOss-employees-row1, .omOss-employees-row3  {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
  
  
    justify-items: center;
    align-items: center;
    
}
.omOss-employees-row2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-items: center;
    align-items: center;
    
}
.omOss-card{

    border: 3px solid blue;
    height: 25rem;
    width: 334px;
    border-radius: 96px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(2, 62, 125, 1);
    margin:2rem auto;
}
.omOss-img{
    height:156px; 
    width:170px;
}
.mOss-h5{}
.omOss-p{}
.omOss-h6{}

@media (max-width: 768px){
    .omOss-h3{
   
        font-size: 5rem;
        font-style: normal;
        font-weight: 800;
        line-height: 3rem;
        letter-spacing: 0em;
        text-align: center;
     width: 100%;
        margin:6rem 0;
        
    
    }
    .omOss-h2{
        width:100%;
    font-size: 5rem;
        padding:2rem 1rem;
    font-weight: 400;
    line-height: 5rem;
  
    }
    .omOss-products{
        width: 100%;
        display:grid;
        grid-template-columns: 1fr ; 
        gap: 2rem;
      
    }
    .omOss-products-item{
        height: 5rem;
        width: 5rem;
      
    } 
    .omOss-employees-row1, .omOss-employees-row2, .omOss-employees-row3{
    
        grid-template-columns: 1fr; 
    
        justify-items: center;
        align-items: center;
        
    }


  }