@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", cursive;
}
:root {
    --darkest-color: #001D3D;
    --dark-color: #023E7D;
    --violet-color: #9E00FF;
    --white-color:#fff;
    --black-color:#000;
  
}



.news-wrapper {
  
    height: 100%;
    width: 100vw;  
    background: linear-gradient(-55deg, #eeec82, #d6a0b5, #4500EE, #ED8118);  
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;  
}




.news-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.news-header h1 {
    color:var(--white-color);
    font-size: 2rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 5px;
    text-align: center;
    text-transform:uppercase ;
}

#page-banner{
    background: linear-gradient(-55deg, #eeec82, #d6a0b5, #4500EE, #ED8118);  
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;  
    padding: 10px 0;    
    width: 36%;
    min-width: 1000px;
    height:80px ;
    border-radius: 10px;
}

#page-banner input{
width: 100%;
height: 30px;
max-width: 400px;
align-items: center;
margin:18px auto;
display: block;

border: 1px solid var(--white-color);
border-radius: 4px;
font-size: 16px;
color: var(--black-color);
}

main .sort-options {
    display:flex;
    justify-content: space-between;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: .9rem;
    font-weight: 200;
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
}

main .sort-options button {
display: flex;
justify-content: space-around;
appearance: none;
background-color: var(--dark-color);
color: var(--white-color);
border:none;
border-radius: 10px;
outline: none;
padding: 10px 8px;
margin: 0px 0px;
font-size: 1rem;
font-weight: 500;
text-transform: uppercase;
cursor: pointer;
}   

 

main .sort-options button:hover {
    background-color: var(--darkest-color);
    
}
 
main .list {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    
}  

main .list .list-item {
    display:flex;
    justify-content: space-between;
    width: 100%;
    background-color:var(--black-color) ;
    color: var(--white-color);
    margin: 15px 0px;
    padding: 15px;
    border: 1px solid var(--black-color);
    border-radius: 10px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.list-item div:nth-child(1),
.list-item div:nth-child(2),.list-item div:nth-child(3)  {
    flex: 1  ;
}


.news-animated-form .news-form-group {
    position: relative;
    display: flex;
    margin-bottom: 2rem;
  }
  

  
 .news-form-group label {
   position: absolute;
   top:50%;
    left: 30%;
    transform: translateY(-50%);
    color: var(--violet-color);
    font-size: 1.5rem;
    font-weight: 400;
    transition: 0.4s ease-out;

  }
  

  .news-animated-form .news-form-group input {
    display: block;
    width: 60%;
    padding: 5px 0px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);  
    font-size: 1rem;
    transition: 0.4s ease-out;
    
  }

  

  .news-animated-form .news-form-group:focus-within label,
  .news-animated-form .news-form-group.has-content label {
    top: 0px;
    transform: translateY(-50%);
    color: var(--white-color)
    
  }
  


.news-form-group input[type=text]:focus {
    outline: 3px solid var(--white-color);
    border: none;
    
}




#filter {

padding:10px;
color: white;
background-color: var(--dark-color);
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }    

 
