

.kontakt-container {
    width: 100%;
    height: 100vh;
    background-color: rgb(8, 63, 45);
}

.kontakt-container-top {
    width: 100%;
    height: 70vh;
    background-image: url("./images/building.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
}

.kontakt-container-top-left {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kontakt-title-container {
    background-image: url("./images/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 40px;
    padding-right: 200px;
}

.kontakt-title-container h2 {
    padding-left: 20px;
}

.kontakt-info-container {
    margin-top: 30px;
    background-color: black;
    padding: 50px;
    border-radius: 5%
}

.kontakt-info-container h4 {
    margin-bottom: 10px;
}

.kontakt-container-top-right {
    width: 50%;
}

/* #kontakt-form {
    width: 100%;
 
    font-size: 20px;
    font-weight: 800;
    color: black;
    font-size: 20px;
}

 */

/* #kontakt-form  label {

background-color:black;
color: white;
padding:5px 20px;
border-radius:5%;


}

#kontakt-form input {
    width: 400px;

    margin-bottom: 15px;
    padding: 10px;
}

#kontakt-form #about {
    width: 400px;
    margin-bottom: 15px;
    padding: 10px;
}

#kontakt-form textarea {
    width: 400px;
    margin-bottom: 15px;
    padding: 10px;
}

#submit-button {
    margin-left: 130px;
    background-color: white;
    font-size: 15px;
    /* SEND MESSAGE 
    width: 261px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    text-align: center;
    border-radius: 50px
} */


.animated-form h3 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    
  }
  
  .animated-form .form-group {
    position: relative;
    display: flex;
    margin-bottom: 2rem;
  }
  
  .form-group.flex-end {
    justify-content: flex-end;
  }
  
  .animated-form .form-group label {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    color: #9E00FF;
    font-size: 1.5rem;
    font-weight: 400;
    transition: 0.4s ease-out;
  }
  
  .animated-form .form-group input {
    display: block;
    width: 90%;
    padding: 5px 0px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid #9E00FF; 
    
    font-size: 1rem;
    transition: 0.4s ease-out;
  }
  
  .animated-form .form-group:focus-within label,
  .animated-form .form-group.has-content label {
    top: 0px;
    transform: translateY(-90%);
    color: #fff;
    
  }
  
  /* .animated-form .form-group:focus-within input, 
  .animated-form .form-group.has-content input {
    border-bottom-color: #fff;
  } */
  .animated-form .form-group.flex-end {
    margin-bottom: 25px;
  }
  .animated-form .form-group .button {
    display: inline-block;
    width: auto;
    padding: 5px 60px;

    border:  3px solid #9E00FF;
    border-radius: 999px;
    background-image: linear-gradient(to right, transparent 50%, #6a1d9b 50%, #8d709e);
    background-size: 200%;  
    color: #9E00FF;
    font-size: 2rem;
   
    cursor: pointer;
  }
  

  input[type=text], select, textarea {
    width: 90%;
    padding: .3rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #9E00FF;

    color: #000;
}

input[type=text]:focus, textarea:focus {
    outline: 3px solid #fff;
    border: none;
}

  .animated-form .form-group .button:hover {
    color: #FFF;
    background-position: 100%;
    border: 3px solid #FFF;
  }
  
.kontakt-container-bottom {
    width: 100%;
    height: 30vh;
    background-image: url("./images/map.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}