@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');



.startsida-wrapper {
    height: 95vh;
    width: 100vw;   
    
}

.foreground{
    display: flex;
    position: relative;   
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height: 100%;
    width: 100%;   
    
}

 .background{
    position: absolute;
    top:0;
    left: 0;
    z-index:- 1;
    background-image: url(wallpaper.jpg); 
   
    height: 100%;
    width: 100vw;
    background-size: cover;
    /* background-size: 100% 100%; */
    background-position: center;
    background-repeat: no-repeat;
}
 

.startsida-logo {
    display: flex; 
    justify-content: center;
}


.my-logo {
    height: 450px;
    width: 700px;
}


.startsida-text {
    
    color: #fff;
    font-size: 2rem;
    text-align: center;
}


  .startsida-form input {
    
    display:block;
    width: 100%;
    padding: 2px 60px;
    background-color: rgba(255, 255, 255, 0.3);
     
    
    outline: none;
    
    color: #fff;
    font-size: 2.5rem;
    transition: 0.4s ease-out;      
    border: 3px solid #9E00FF;
    border-radius: 999px;
    background-image: linear-gradient(to right, transparent 50%, #6a1d9b 50%, #8d709e);
    background-size: 200%;     
    cursor: pointer;  
  }

  

  .startsida-form input:hover {  
      transition: 1s;
      color:#fff;
    background-position: 100%;
    border: 3px solid #fff;
  }



@media (max-width: 1600px) {
    .my-logo {
        margin-top: 5rem;
        height: 330px;
        width: 500px;
    }


    .startsida-text {
        font-size: 1.5rem;
    }

    .startsida-button {
        width: 300px;
        height: 60px;
        margin-top: 1rem;
        font-size: 2.3rem;
    }
}